*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
    color: #fff;
}
html,body{
    height: 100%;
    width: 100%;

}
.main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.cursor{
    height: 30px;
    width: 30px;
    background-color: white;
    border-radius: 50%;
    mix-blend-mode: difference;
    position: absolute;
    transition: all 0.2s;
}
h1{
    font-size:6vw;
    font-weight: 900;
}
h1 span{
    color: orange;
}