*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html,body{
    height: 100%;
    width: 100%;
    
}
body{
background-color: lightblue;
display: flex;
align-items: center;
justify-content: center;    
}


.card{
    background-color: white;
    height: 300px;
    width: 500px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    /* display: flex; */
    /* flex-direction:column; */
 
}


.bar{
    background-color: gainsboro;
    width: 90%;
    height: 20px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;

}

#progress{
    width: 0%;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(40, 194, 40);
}

 h1{
    margin-left: 20px;
    margin-top: 10px;  
}
#btn{

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-top: 150px;
}

button{
    padding: 10px 20px;
    background-color: rgb(31, 182, 33);
    color:white;
    border: none;
    border-radius: 20px;
}

button:active{
    scale :0.8s;
}
